<div class="pt-top">
   <div class="page-wrap page-wrap_report">
      <div class="page-wrap__wrap">
         <form id="check-head" _lpchecked="1">
            <div class="form-search">
               <div class="form-search__wrap">
                  <div class="search-block">
                     <div class="search-block__rel search-block__rel_active" data-rel="GRZ">
                        <input type="text" class="search-block__field-search js-gos" placeholder="A 007 AA | 197" value="" maxlength="14" id="form3162">
                     </div>
                     <button class="search-block__btn-search"><span>Snap VIN</span></button>
                  </div>
               </div>
            </div>
            <div class="post-bl" style="position: relative;">
               <div class="post-bl__main-request">
                  <div class="post-text">
                     <div class="post-text__head">
                        <div class="ls-info">
                           <div class="ls-info__left">
                              <h1 class="r-title">
                                 AUDI A6 2011
                              </h1>
                           </div>
                        </div>
                        <div class="vin-info">
                           <div class="vin-info__left">
                              <b class="vin-rc">
                              VIN: WAUZZZ4G5CN021391
                              </b>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="drop">
               <div class="valign"><b>Select Your Course</b></div>
               <a href="#" class="drop-list"><i class="fa fa-caret-down"></i></a>
               <span class="filter-button">
               <a href="">Milage</a>
               <a href="">Service</a>
               <a href="">Accident</a>
               </span>
            </div>
            <span class="ic-info__title">
            Date of service
            </span>
            <div class="form-search__wrap">
               <div class="search-block">
                  <div class="date-wrap search-block__rel search-block__rel_active" data-rel="GRZ">
                     <input type="text" placeholder="Date of service" class="datepicker">
                     <img src="img/calendar.png" alt="calendar">
                  </div>
                  <button type="submit" class="search-block__btn-search"><span>Add service record</span></button>
               </div>
            </div>
            <span class="ic-info__title">
            Milage
            </span>
            <input type="text" class="search-block__field-search js-gos" placeholder="A 007 AA | 197" value="" maxlength="14" id="form3162">
            <span class="ic-info__title">
            Comments
            </span>
            <input type="text" class="search-block__field-search js-gos" placeholder="A 007 AA | 197" value="" maxlength="14" id="form3162">
         </form>
      </div>
   </div>
</div>